/* variables */
$font-iransans-light:"iranSans-light";
$font-iransans-bold:"iranSans-bold";
$font-iransans-medium:"iranSans-medium";
$font-iransans-thin:"iranSans-thin";
$text-align-center:center;
$text-align-justify:justify;
$white-color:white;
$primary-color: rgb(73, 166, 233);
$secondary-color: rgb(50, 77, 103);